.App {
  text-align: center;
}

.container {
  margin: 0 auto;
}

.container h1 {
  color: blueviolet;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: blueviolet;
}

input {
  color: blueviolet;
  border: 2px solid rgb(113, 54, 169);
  border-radius: 5px;
  padding: 5px;
  margin-right: 15px;
  cursor: pointer;
}

input::placeholder {
  color: blueviolet;
}

button {
  color: blueviolet;
  border: 2px solid rgb(113, 54, 169);
  border-radius: 5px;
  padding: 5px;
  background: white;
  cursor: pointer;
}